@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex justify-center items-center py-2 px-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900;
  }
  .txtComments {
    @apply mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400;
  }
  .icons {
    @apply text-5xl;
  }
}
